@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter var - latin */

  /* Write your own custom base styles here */
  body {
    @apply bg-dark font-sora;
  }
  p {
    @apply font-inter;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #00e0f3, #00c4fd);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
  }
  .animated-underline:hover,
  .animated-underline:focus {
    background-size: 0 2px, 100% 2px;
  }
}
